<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationmobistest">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationMobistest">
        <activity android:name=".rozv_j"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".activitymodul1"
            android:parentActivityName=".rozv_j"/>
        <activity android:name=".modul2_1"
            android:parentActivityName=".activitymodul1"/>
        <activity android:name=".modul2_2"
            android:parentActivityName=".activitymodul1"/>
        <activity android:name=".modul2_3"
            android:parentActivityName=".activitymodul1"/>
        <activity android:name=".modul2_4"
            android:parentActivityName=".activitymodul1"/>
        <activity android:name=".part5"
            android:parentActivityName=".activitypart1"/>
        <activity android:name=".pdf_test" />
        <activity android:name=".std_ut22"
            android:parentActivityName=".std_j"/>
        <activity android:name=".part4"
            android:parentActivityName=".activitypart1"/>
        <activity android:name=".pdf_hq"
            android:parentActivityName=".std_main"/>
        <activity android:name=".part3"
            android:parentActivityName=".activitypart1"/>
        <activity android:name=".part2"
            android:parentActivityName=".activitypart1"/>
        <activity android:name=".part1"
            android:parentActivityName=".activitypart1"/>
        <activity android:name=".cpp1"
            android:parentActivityName=".activitycpp1"/>
        <activity android:name=".cpp2"
            android:parentActivityName=".activitycpp1"/>
        <activity android:name=".cpp3"
            android:parentActivityName=".activitycpp1"/>
        <activity android:name=".erdc1"
            android:parentActivityName=".activityerdc1"/>
        <activity android:name=".erdc2"
            android:parentActivityName=".activityerdc1"/>
        <activity android:name=".erdc3"
            android:parentActivityName=".activityerdc1"/>
        <activity android:name=".ckd1"
            android:parentActivityName=".activityckd1"/>
        <activity android:name=".ckd2"
            android:parentActivityName=".activityckd1"/>
        <activity android:name=".std_ut_ups"
            android:parentActivityName=".std_j"/>
        <activity android:name=".std_ut23"
            android:parentActivityName=".std_j"/>
        <activity android:name=".std_main"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".std_video"
            android:parentActivityName=".std_video_hq"/>
        <activity android:name=".std_video_hq"
            android:parentActivityName=".std_main"/>
        <activity android:name=".video_kompresory"
            android:parentActivityName=".std_video_hq"/>
        <activity android:name=".video_pmsk"
            android:parentActivityName=".std_video_hq"/>
        <activity android:name=".pda_main"
            android:parentActivityName=".std_main"/>
        <activity android:name=".pda1"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda2"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda3"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda4"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda5"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda6"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda7"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pda8"
            android:parentActivityName=".pda_main"/>
        <activity android:name=".pmsk_main"
            android:parentActivityName=".std_main"/>
        <activity android:name=".pmsk1"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk2"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk3"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk4"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk5"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk6"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk7"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk8"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk9"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk10"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk11"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk12"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pmsk13"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".v_komp_part"
            android:parentActivityName=".video_kompresory"/>
        <activity android:name=".v_komp_modul"
            android:parentActivityName=".video_kompresory"/>
        <activity android:name=".v_komp_cpp"
            android:parentActivityName=".video_kompresory"/>
        <activity android:name=".v_komp_ckd"
            android:parentActivityName=".video_kompresory"/>
        <activity android:name=".v_komp_erdc"
            android:parentActivityName=".video_kompresory"/>
        <activity android:name=".v_komp_modul_ts270"
            android:parentActivityName=".v_komp_modul"/>
        <activity android:name=".v_pc_pda_gsm_restart"
            android:parentActivityName=".std_video"/>
        <activity android:name=".v_pc_pda_pass1"
            android:parentActivityName=".std_video"/>
        <activity android:name=".v_pc_pda_dead"
            android:parentActivityName=".std_video"/>
        <activity android:name=".v_oth"
            android:parentActivityName=".std_video_hq"/>
        <activity android:name=".v_pmsk_zlab1"
            android:parentActivityName=".video_pmsk"/>
        <activity android:name=".v_oth_gea_switch"
            android:parentActivityName=".v_oth"/>
        <activity android:name=".v_oth_reset_34abc"
            android:parentActivityName=".v_oth"/>
        <activity android:name=".v_pc_iw38"
            android:parentActivityName=".std_video"/>
        <activity android:name=".v_oth_rst_thermokontakt"
            android:parentActivityName=".v_oth"/>
        <activity android:name=".v_pc_ih01"
            android:parentActivityName=".std_video"/>
        <activity android:name=".v_pc_zpmr011"
            android:parentActivityName=".std_video"/>
        <activity android:name=".pmsk14"
            android:parentActivityName=".pmsk_main"/>
        <activity android:name=".pdf_2"
            android:parentActivityName=".pdf_hq"/>
        <activity android:name=".pdf_1"
            android:parentActivityName=".pdf_hq"/>
        <activity android:name=".activityckd1"
            android:parentActivityName=".rozv_j"/>
        <activity android:name=".activityerdc1"
            android:parentActivityName=".rozv_j"/>
        <activity android:name=".activitycpp1"
            android:parentActivityName=".rozv_j"/>
        <activity android:name=".activitypart1"
            android:parentActivityName=".rozv_j"/>
        <activity android:name=".video_test"
            android:parentActivityName=".std_video"/>
        <activity android:name=".std_j"
            android:parentActivityName=".std_main"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>